{% extends "layout.njk" %}

{% block head %}
{% endblock head %}

{% block content %}

            <div class="container">
        <header>
                <nav>
                    <h2 id="logo">Foodfy</h2>
                        <ul>
                        <li><a href="/"><b>Home</b></a></li>
                        <li><a href="/sobre">Sobre</a></li>
                        <li><a href="/receitas">Receitas</a></li>
                    </ul>
                </nav>
            </header>
                


        <div class="main-box">

            <div class="text">
                <h2>As melhores receitas</h2>
                <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
                </p>
            </div>
            <!-- text -->
            <div class="image">
                <img src="/assets/chef.png" alt="chef">
            </div>
        </div>

        <section id="dashboard">
            <div class="wrapper">
                <h2>Mais acessadas</h2>
            </div>

            <div class="cards">
                <div class="card">
                    <div class="image-content">
                        <img src="/assets/burger.png" alt="">
                    </div>
                    <div class="card-txt">
                        <h3>Triplo bacon burger</h3>
                        <p>por Jorge Relato</p>
                    </div>
                </div>

                <div class="card">
                    <div class="image-content">
                        <img src="/assets/pizza.png" alt="">
                    </div>
                    <div class="card-txt">
                        <h3>Pizza 4 estações</h3>
                        <p>por Fabiana Melo</p>
                    </div>
                </div>

                <div class="card">
                    <div class="image-content">
                        <img src="/assets/espaguete.png" alt="">
                    </div>
                    <div class="card-txt">
                        <h3>Espaguete ao alho</h3>
                        <p>por Júlia Kinoto</p>
                    </div>
                </div>

                <div class="card">
                    <div class="image-content">
                        <img src="/assets/lasanha.png" alt="">
                    </div>
                    <div class="card-txt">
                        <h3>Lasanha mac n'cheese</h3>
                        <p>por Juliano Vieira</p>
                    </div>
                </div>

                <div class="card">
                    <div class="image-content">
                        <img src="/assets/doce.png" alt="">
                    </div>
                    <div class="card-txt">
                        <h3>Docinhos pão do céu</h3>
                        <p>por Ricardo Golvea</p>
                    </div>
                </div>

                <div class="card">
                    <div class="image-content">
                        <img src="/assets/asinhas.png" alt="">
                    </div>
                    <div class="card-txt">
                        <h3>Asinhas de frango ao barbecue</h3>
                        <p>por Vania Steroski</p>
                    </div>
                </div>
            </div>
            <!-- cards -->
        </section>
        
        
      
    </div><!--container-->
    
{% endblock content %}