<!DOCTYPE html>
<html lang="pt-br">
        <head>
            <title>Foodfy | As melhores Receitas Para Você</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
            <link rel="stylesheet" href="/style.css">
            <link rel="stylesheet" href="/sobre.css">
            {% block head %}{% endblock head %}
            <link rel="stylesheet" href="/responsive.css">
        </head>
    

            

    <body>
        <main>
        {% block content %}{% endblock content %}
        </main>

         <footer >
        <p>&copy; 2020. Todos os direitos reservados, Receitas Foodfy.</p>
    </footer> 
    
    </body>

    
    </html>