@media screen and (max-width: 1024px){
    header {
        max-width: 1024px;
    }
    
    .recipe-image img {
        width: 80%;
        display: block;
        margin: 0 auto;

        
    }
        #details {
            max-width: 1024px;
            margin: 20px auto;
        }
            .preparation ul li {
                width: 80%;
            }

    footer {
    margin-top: 30px;
 
    }
    footer p {
        font-size: 13px;
    }
 


 
}

@media screen and (max-width: 768px){
 
    .container {
        height: 100%;
    }
    header {
        max-width: 768px;
    }
    .preparation {
        max-width: 768px;
        margin-top: 30px;
        margin-left: 115px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .preparation ul li {
        font-size: 16px;
        width: 70%;
        line-height: 26px;
    }

    .recipe-list {
        max-width: 768px;
        margin-left: 100px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .recipe-list ul {
        max-width: 768px;
        display: block;
        list-style-position: inside;
        margin-top: 30px;
    }
    .recipe-list ul li {
        color: #444;
        font-size: 16px;
        line-height: 26px;
        width: 70%;
    }

    .info {
        max-width: 768px;
        margin-top: 30px;
        margin-left: 115px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

    .recipe-image img {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    .recipe-image a {
        margin: 0 auto;
    }


        #details {
            max-width: 768px;
            margin: 0 auto;
            height: 900px;
        }

        .info {
            max-width: 768px;
            justify-content: center;
            margin: 30px auto;
            text-align: left;
            width: 100%;
        }
           .info p {
            width: 90%;
            line-height: 26px;
            text-align: center;
            font-size: 15px;
           }

    footer {
    margin-top: 30px;
    position: fixed;

 
    }
    footer p {
        font-size: 13px;
    }
 

}

@media screen and (max-width: 425px){
 
    .recipe-txt h3 {
        font-size: 26px;
        font-weight: bold;
        line-height: 36px;
    }
    .recipe-txt p {
        font-size: 15px;
        color: #777777;
    }    


    .recipe-description {
        max-width: 425px;
        margin-top: 30px;
        margin-left: 99px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .recipe-description h3 {
        margin: auto;
        font-size: 21px;
        text-align: left;
    }
    .container {
        height: 100%;
    }
    header {
        max-width: 425px;
        margin-bottom: 5px;
    }
    .preparation {
        max-width: 425px;
        margin-top: 30px;
    }
    .preparation ul li {
        font-size: 13px;
        width: 100%;
        line-height: 23px;
    }

    .recipe-list {
        max-width: 425px;
        width: 70%;
    }
    .recipe-list ul {
        max-width: 425px;
        display: block;
        list-style-position: inside;
        margin-top: 30px;
    }
    .recipe-list ul li {
        color: #444;
        font-size: 13px;
        line-height: 26px;
        width: 100%;
    }

    .info {
        max-width: 425px;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .recipe-image {
        max-width: 425px;
        height: 280px;
        display: block;
        margin: 10% auto;
    }

    .recipe-image img {
    width: 90%;
    margin: 0 auto;
    object-fit: contain;
    }
    .recipe-image a {
        margin: 0 auto;
    }


    #details {
        max-width: 425px;
        margin: 0 auto;
        height: 1000px;
    }

        .info {
            max-width: 425px;
            justify-content: center;
            margin: 30px auto;
            text-align: left;
            width: 100%;
        }
        .info p {
            width: 90%;
            line-height: 23px;
            text-align: center;
            font-size: 13px;
        }

        footer {
            position: fixed;
            margin-top: 30px;
        }
    footer p {
        font-size: 13px;
    }
 
}

@media screen and (max-width: 375px){
    

  

    main {
        height: 800px;
    }
    .recipe-image a {
        margin: 0 auto;
        font-size: 20px;
    }
    .recipe-txt h3 {
        font-size: 22px;
        font-weight: bold;
        line-height: 2;
    }
    .recipe-txt p {
        font-size: 15px;
        color: #777777;
    }    


    .recipe-description {
        max-width: 320px;
        margin-top: 30px;
        margin-left: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .recipe-description h3 {
        margin: auto;
        font-size: 15px;
        text-align: center;
    }

    .recipe-description span {
        font-size: 10px;
    }
    .container {
        height: 100%;
    }
    header {
        max-width: 320px;
        margin-bottom: 5px;
    }
    .preparation {
        max-width: 320px;
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    .preparation ul li {
        color: #444;
        font-size: 13px;
        line-height: 26px;
        width: 100%;
    }

    .recipe-list {
        max-width: 320px;
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    .recipe-list ul {
        max-width: 320px;
        display: block;
        list-style-position: inside;
        margin-top: 30px;
    }
    .recipe-list ul li {
        color: #444;
        font-size: 13px;
        line-height: 26px;
        width: 100%;
    }

    .info {
        max-width: 320px;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .recipe-image {
        max-width: 320px;
        height: 280px;
        display: block;
        margin: 10% auto;
    }

    .recipe-image img {
    width: 90%;
    margin: 0 auto;
    object-fit: contain;
    }
    .recipe-image a {
        margin: 0 auto;
    }


    #details {
        max-width: 320px;
        margin: 0 auto;
        height: 1100px;
    }

        .info {
            max-width: 320px;
            justify-content: center;
            margin: 30px auto;
            text-align: left;
            width: 100%;
        }
        .info p {
            width: 90%;
            line-height: 23px;
            text-align: center;
            font-size: 10px;
        }

       
 
}